$color-primary: #252525;

@mixin base_btn($background: $color-primary, $textcolor: #ffffff, $border-radius: 16px, $font-size: 18px) {
  background-color: $background;
  color: $textcolor;
  border-radius: $border-radius;
  font-size: $font-size;
}
