$color-primary: #252525;

@mixin base_btn($background: $color-primary, $textcolor: #ffffff, $border-radius: 16px, $font-size: 18px) {
  background-color: $background;
  color: $textcolor;
  border-radius: $border-radius;
  font-size: $font-size;
  border: none;
  outline: none;
  cursor: pointer;
}

@mixin breakpoint($point) {
  @if $point == small {
    @media (max-width: 600px) {
      @content;
    }
  } @else if $point == medium {
    @media (max-width: 900px) {
      @content;
    }
  } @else if $point == large {
    @media (max-width: 1200px) {
      @content;
    }
  }
}

@mixin hover {
  &:not([disabled]):hover {
    @content;
  }
}

@function toRem($value) {
  $remValue: calc($value / 16) + rem;
  @return $remValue;
}
