$color-primary-green: #4caf4f;
$color-secondary: #263238;
$color-info: #2194f3;
$color-white: #ffffff;

$color-neutral-black: #263238;
$color-neutral-dark-grey: #4d4d4d;
$color-neutral-grey: #717171;
$color-neutral-light-grey: #89939e;
$color-neutral-blue-grey: #abbed1;
$color-neutral-silver: #f5f7fa;

$color-warning: #fbc02d;
$color-error: #e53835;
$color-sucess: #2e7d31;

$color-tint5: #e8f5e9;

$typography-sizes: (
  xs: (
    font-size: 12px,
    line-height: 16px,
  ),
  s: (
    font-size: 14px,
    line-height: 20px,
  ),
  md: (
    font-size: 16px,
    line-height: 24px,
  ),
  lg: (
    font-size: 18px,
    line-height: 28px,
  ),
);

$heading-sizes: (
  xs: (
    font-size: 20px,
    line-height: 28px,
  ),
  s: (
    font-size: 28px,
    line-height: 36px,
  ),
  md: (
    font-size: 36px,
    line-height: 44px,
  ),
  lg: (
    font-size: 64px,
    line-height: 76px,
  ),
);

@mixin typography($size, $font-weight: normal) {
  $font-size: map-get(map-get($typography-sizes, $size), font-size);
  $line-height: map-get(map-get($typography-sizes, $size), line-height);

  font-family: "Inter", sans-serif;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}

@mixin heading($size) {
  $font-size: map-get(map-get($heading-sizes, $size), font-size);
  $line-height: map-get(map-get($heading-sizes, $size), line-height);

  font-family: "Inter", sans-serif;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: 600;
}
