$color-primary-green: #28cb8b;
$color-secondary: #263238;
$color-info: #2194f3;
$color-white: #ffffff;

$color-neutral-black: #263238;
$color-neutral-dark-grey: #4d4d4d;
$color-neutral-grey: #717171;
$color-neutral-light-grey: #89939e;
$color-neutral-blue-grey: #abbed1;
$color-neutral-silver: #f5f7fa;

$color-warning: #fbc02d;
$color-error: #e53835;
$color-sucess: #2e7d31;

$typography-sizes: (
  xs: (
    12px,
    16px,
  ),
  s: (
    14px,
    20px,
  ),
  md: (
    16px,
    24px,
  ),
  lg: (
    18px,
    28px,
  ),
);

$heading-sizes: (
  xs: (
    20px,
    28px,
  ),
  s: (
    28px,
    36px,
  ),
  md: (
    36px,
    44px,
  ),
  lg: (
    64px,
    76px,
  ),
);

@mixin typography($size, $font-weight: normal) {
  $font-size: map-get(map-get($typography-sizes, $size), 0);
  $line-height: map-get(map-get($typography-sizes, $size), 1);

  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}

@mixin heading($size) {
  $font-size: map-get(map-get($heading-sizes, $size), 0);
  $line-height: map-get(map-get($heading-sizes, $size), 1);

  font-size: $font-size;
  line-height: $line-height;
  font-weight: 600;
}
