@import "../../styles/helpers.scss";
@import "../../styles/positivus.var.scss";

.header {
  margin-top: toRem(60);
  padding: 0 toRem(100) 0 toRem(100);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &_nav {
    display: flex;
    align-items: center;
    gap: toRem(40);
    list-style: none;

    &_item {
      a {
        text-decoration: none;
        @include typography(regular);
      }
      button {
        @include typography(regular);
        @include basebtn(#ffffff);
      }
    }
  }
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 100px;
  margin-top: toRem(70);
  padding: 0 toRem(100) 0 toRem(100);

  &_content {
    h1 {
      @include typography(h1);
    }

    p {
      margin-top: toRem(35);
      @include typography(regular);
    }

    button {
      margin-top: toRem(35);
      @include typography(regular, #ffffff);
      @include basebtn();
    }
  }

  &_illustration {
    display: flex;
    justify-content: center;
  }

  &_logos {
    margin-top: toRem(70);
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
  }
}

.sectionHeading {
  margin-top: toRem(120);
  display: flex;
  align-items: center;
  gap: 50px;

  h2 {
    background-color: $color-primary-green;
    padding: 0 toRem(7) 0 toRem(7);
    border-radius: 8px;
    @include typography(h2);
  }
  p {
    width: 25%;
    @include typography(p);
  }
}

.services {
  padding: 0 toRem(100) 0 toRem(100);

  &_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: toRem(70);
  }

  &_card {
    padding: toRem(50);
    border-radius: 45px;
    display: flex;
    justify-content: space-between;
    gap: 70px;
    box-shadow: 0 8px 2px -2px black;
    border: 1px solid black;

    &_heading {
      max-width: 230px;
      border-radius: 8px;
      padding: 0 toRem(8) 0 toRem(8);
      @include typography(h3);
      &_green {
        background-color: $color-primary-green;
      }
      &_white {
        background-color: #ffffff;
      }
    }

    &_link {
      display: flex;
      align-items: center;
      text-decoration: none;
      margin-top: toRem(90);
      &_icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background-color: #ffffff;
        margin-right: toRem(15);
      }
      &_black {
        @include typography(regular);
      }

      &_white {
        @include typography(regular, #ffffff);
      }
    }

    &:nth-child(3n + 1) {
      background-color: $color-primary-grey;
    }

    &:nth-child(3n + 2) {
      background-color: $color-primary-green;
    }

    &:nth-child(3n) {
      background-color: $color-primary-black;
    }
  }
}

.studies {
  padding: 0 toRem(100) 0 toRem(100);

  &_wrapper {
    margin-top: toRem(80);
    background-color: $color-primary-black;
    border-radius: 45px;
    padding: toRem(70) toRem(60);
    display: flex;
    justify-content: space-between;
  }

  &_item {
    border-right: 1px solid white;
    padding-right: toRem(64);
    padding-left: toRem(64);

    p {
      @include typography(p, #ffffff);
    }

    a {
      margin-top: toRem(20);
      display: flex;
      align-items: center;
      gap: toRem(15);
      text-decoration: none;
      @include typography(regular, $color-primary-green);
    }
  }

  &_item:last-child {
    border-right: none;
  }
}

.process {
  padding: 0 toRem(100) 0 toRem(100);

  &_items {
    margin-top: toRem(80);
    display: flex;
    flex-direction: column;
    gap: toRem(30);
  }
}

.collapse_item {
  padding: toRem(40) toRem(60);
  border: 1px solid black;
  border-radius: toRem(45);
  box-shadow: 0 8px 2px -2px black;
  transition: background-color 0.3s;

  &_grey {
    background-color: $color-primary-grey;
  }

  &_green {
    background-color: $color-primary-green;
  }

  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      display: flex;
      align-items: center;
    }

    span {
      @include typography(h1);
    }
    h3 {
      @include typography(h3);
      margin-left: toRem(25);
    }

    button {
      align-self: start;
      border: 1px solid black;
      border-radius: 100%;
      background-color: #ffffff;
      outline: none;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      width: 58px;
      height: 58px;
      @include typography(h1);
    }
  }

  &_closed {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }

  &_opened {
    max-height: 400px;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
  }

  hr {
    margin: toRem(30) 0 toRem(30) 0;
    border-color: black;
  }

  &_text {
    @include typography(p);
  }
}
