@import "../../styles/helpers.scss";
@import "../../styles/nextcent.var.scss";

.header {
  padding: toRem(30) toRem(144);
  background-color: $color-neutral-silver;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 84px;

  @include breakpoint(small) {
    padding: toRem(20) toRem(44);
  }

  &_nav {
    list-style: none;
    display: flex;
    gap: 50px;

    @include breakpoint(large) {
      display: none;
    }

    &_link {
      a {
        @include typography(md);
        color: $color-secondary;
        text-decoration: none;
      }
    }
  }

  &_login {
    color: $color-primary-green;
    margin-right: toRem(20);

    @include basebtn(transparent);
    @include typography(md, 500);

    @include hover {
      background-color: $color-tint5;
    }
  }

  &_signup {
    color: $color-white;

    @include basebtn();
    @include typography(md, 500);
  }
}

.hero {
  background-color: $color-neutral-silver;
  padding: toRem(20) toRem(44);
  display: flex;
  /* justify-content: space-between; */

  @include breakpoint(small) {
    padding: toRem(20) toRem(44);
    flex-direction: column-reverse;
  }

  &_heading {
    color: $color-neutral-dark-grey;
    @include heading(lg);

    @include breakpoint(small) {
      text-align: center;
    }

    span {
      color: $color-primary-green;
    }
  }

  &_text {
    color: $color-neutral-grey;
    margin-top: toRem(16);

    @include breakpoint(small) {
      text-align: center;
    }

    @include typography(md);
  }

  &_btn {
    color: $color-white;
    margin-top: toRem(32);

    @include breakpoint(small) {
      display: block;
      margin: toRem(32) auto 0 auto;
    }

    @include typography(md, 500);
    @include basebtn($color-primary-green, 6px, toRem(14), toRem(32));
  }
  &_img {
    margin-left: 40%;

    @include breakpoint(large) {
      margin-left: 0;
    }

    @include breakpoint(small) {
      margin-left: 0;

      img {
        width: 100%;
      }
    }
  }
}

.community {
  padding: toRem(42) toRem(144);

  @include breakpoint(medium) {
    padding: toRem(20) toRem(44);
  }

  @include breakpoint(large) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @include breakpoint(small) {
    display: block;
  }

  &_heading {
    color: $color-neutral-dark-grey;
    text-align: center;
    @include heading(md);
  }

  &_text {
    color: $color-neutral-grey;
    margin-top: toRem(8);
    text-align: center;
    @include typography(md);
  }

  &_imgs {
    padding: toRem(20) 0;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    margin-bottom: toRem(40);

    @include breakpoint(small) {
      flex-wrap: wrap;
      gap: toRem(20);
    }
  }

  &_card {
    padding: toRem(24) toRem(32);
    max-width: 300px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 8px;

    @include breakpoint(large) {
      max-width: 100%;
    }

    @include breakpoint(small) {
      max-width: 300px;
    }

    &_heading {
      color: $color-neutral-dark-grey;
      text-align: center;
      margin-top: toRem(16);
      @include heading(s);

      @include breakpoint(medium) {
        @include heading(xs);
      }
    }

    &_text {
      color: $color-neutral-grey;
      text-align: center;
      margin-top: toRem(8);
      @include typography(md);

      @include breakpoint(medium) {
        @include typography(s);
      }
    }
    &_logo {
      position: relative;
      img {
        display: block;
        margin: 0 auto;
        position: relative;
        z-index: 10;
      }
    }
    &_back {
      width: 50px;
      height: 50px;
      background-color: $color-tint5;
      position: absolute;
      border-radius: 6px;
      border-top-left-radius: 18px;
      border-bottom-right-radius: 18px;
      z-index: 1;
      top: 0;
      right: 80px;
    }
  }
  &_cards {
    margin-top: toRem(16);
    display: flex;
    justify-content: space-between;

    @include breakpoint(large) {
      flex-wrap: wrap;
      gap: 30px;
    }

    @include breakpoint(small) {
      flex-direction: column;
    }
  }

  &_end {
    display: flex;
    justify-content: space-between;
    margin-top: toRem(42);

    @include breakpoint(small) {
      flex-direction: column;
    }

    img {
      padding: toRem(52) 0;
      width: 500px;

      @include breakpoint(large) {
        width: 300px;
      }

      @include breakpoint(small) {
        width: 100%;
      }
    }

    div {
      margin-top: toRem(80);
      width: 50%;
      @include breakpoint(small) {
        margin-top: toRem(40);
        width: 100%;
      }
    }

    &_heading {
      color: $color-neutral-dark-grey;
      @include heading(md);
    }

    &_text {
      color: $color-neutral-grey;
      margin-top: toRem(16);
      @include typography(s);
    }

    button {
      color: $color-white;
      margin-top: toRem(32);
      @include typography(md, 500);
      @include basebtn();
      @include breakpoint(small) {
        display: block;
        margin: toRem(32) auto 0 auto;
      }
    }
  }
}

.stats {
  background-color: $color-neutral-silver;
  padding: toRem(64) toRem(144);
  display: flex;
  justify-content: space-between;

  @include breakpoint(large) {
    flex-direction: column;
    justify-content: center;
  }

  @include breakpoint(small) {
    padding: toRem(20) toRem(44);
    flex-direction: column;
  }

  &_heading {
    color: $color-neutral-dark-grey;
    @include heading(md);

    @include breakpoint(small) {
      text-align: center;
    }

    span {
      color: $color-primary-green;
    }
  }

  &_text {
    color: $color-neutral-grey;
    margin-top: toRem(8);

    @include breakpoint(small) {
      text-align: center;
    }

    @include typography(md);
  }
  &_info {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 50%;

    @include breakpoint(large) {
      justify-content: center;
      gap: 50px;
    }

    @include breakpoint(small) {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    &_item {
      display: flex;
      align-items: center;
      width: 40%;

      @include breakpoint(small) {
        width: 100%;
        justify-content: center;
      }

      div {
        display: flex;
        flex-direction: column;
        margin-left: toRem(16);
      }

      img {
        width: 48px;
        height: 48px;
      }
    }

    &_value {
      color: $color-neutral-dark-grey;
      @include heading(s);
    }

    &_name {
      color: $color-neutral-grey;
      @include typography(md);
    }
  }
}

.body {
  &_content {
    padding: toRem(48) toRem(144);

    @include breakpoint(large) {
      padding: toRem(20) toRem(44);
    }

    @include breakpoint(small) {
      padding: toRem(20) toRem(44);
    }
  }

  &_end {
    background-color: $color-neutral-silver;
    padding: toRem(33) toRem(144) toRem(33) 40%;

    @include breakpoint(large) {
      padding: toRem(20) toRem(44);
    }

    &_content {
      display: flex;
      flex-direction: column;
    }

    &_text {
      color: $color-neutral-grey;
      @include typography(md);
    }

    &_author {
      color: $color-primary-green;
      margin-top: toRem(16);
      @include heading(xs);
    }

    &_comp {
      color: $color-neutral-light-grey;
      margin-top: toRem(8);
      @include typography(md);
    }

    &_logos {
      margin-top: toRem(32);
      list-style: none;
      display: flex;
      align-items: center;
      gap: 41px;

      @include breakpoint(small) {
        flex-wrap: wrap;
        justify-content: center;
      }

      li a {
        color: $color-primary-green;
        @include heading(s);
      }
    }
  }
}

.ending {
  padding-top: toRem(42);
  &_heading {
    color: $color-neutral-dark-grey;
    text-align: center;
    @include heading(md);
  }

  &_text {
    color: $color-neutral-grey;
    text-align: center;
    /*  width: 30%; */
    display: block;
    margin: toRem(8) auto 0 auto;
    @include typography(md);
  }

  &_cards {
    display: flex;
    justify-content: center;
    margin-top: toRem(200);
    gap: toRem(80);
    margin-bottom: toRem(90);

    @include breakpoint(small) {
      margin-top: toRem(40);
      flex-direction: column;
      align-items: center;
    }
  }

  &_card {
    background-color: $color-neutral-silver;
    padding: toRem(16);
    max-width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: toRem(16);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 10px;
    h3 {
      color: $color-neutral-grey;
      text-align: center;
      @include heading(xs);
    }

    a {
      color: $color-primary-green;
      @include heading(xs);
    }
  }

  &_demo {
    background-color: $color-neutral-silver;
    padding: toRem(32) 0;

    h2 {
      color: $color-secondary;
      text-align: center;
      @include heading(lg);

      @include breakpoint(small) {
        @include heading(md);
      }
    }

    button {
      margin: toRem(32) auto 0 auto;
      display: block;
      color: $color-white;
      @include typography(md);
      @include basebtn();
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: $color-neutral-black;
  padding: toRem(64) toRem(165);

  @include breakpoint(small) {
    padding: toRem(20) toRem(44);
    flex-direction: column;
    align-items: center;
  }

  &_logo {
    margin-bottom: toRem(40);
  }
  &_copyright {
    span {
      color: $color-neutral-silver;
      margin-bottom: toRem(8);
      @include typography(s);
    }
  }
  &_logos {
    display: flex;
    gap: toRem(20);
    margin-top: toRem(40);
    &_logo {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: toRem(8);
      border-radius: 100%;
      background-color: $color-neutral-dark-grey;
    }
  }

  &_nav {
    display: flex;
    gap: toRem(30);

    @include breakpoint(small) {
      margin-top: toRem(20);
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }

    span {
      margin-bottom: toRem(24);
      color: $color-white;
      @include heading(xs);
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: toRem(12);
      li {
        a {
          text-decoration: none;
          color: $color-neutral-silver;
          @include typography(md);
        }
      }
    }
  }

  &_email {
    padding: toRem(12);
    background-color: $color-neutral-dark-grey;
    display: flex;
    align-items: center;
    border-radius: 10px;
    input {
      background-color: transparent;
      outline: none;
      border: none;
      color: $color-neutral-silver;
      margin-right: toRem(10);
      @include typography(s);
    }
    button {
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }
}
