@import "../../styles/helpers.scss";
@import "../../styles/nextcent.var.scss";

.header {
  padding: toRem(30) toRem(144);
  background-color: $color-neutral-silver;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 84px;
  &_nav {
    list-style: none;
    display: flex;
    gap: 50px;

    &_link {
      a {
        @include typography(md);
        color: $color-secondary;
        text-decoration: none;
      }
    }
  }

  &_login {
    color: $color-primary-green;
    margin-right: toRem(20);

    @include basebtn(transparent);
    @include typography(md, 500);

    @include hover {
      background-color: $color-tint5;
    }
  }

  &_signup {
    color: $color-white;

    @include basebtn();
    @include typography(md, 500);
  }
}

.hero {
  background-color: $color-neutral-silver;
  padding: toRem(96) toRem(144);
  display: flex;
  /*  justify-content: space-between; */

  &_heading {
    color: $color-neutral-dark-grey;
    @include heading(lg);

    span {
      color: $color-primary-green;
    }
  }

  &_text {
    color: $color-neutral-grey;
    margin-top: toRem(16);

    @include typography(md);
  }

  &_btn {
    color: $color-white;
    margin-top: toRem(32);

    @include typography(md, 500);
    @include basebtn($color-primary-green, 6px, toRem(14), toRem(32));
  }
  &_img {
    margin-left: toRem(504);
    img {
      width: 500px;
    }
  }
}
